# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows junk
.DS_Store
Thumbs.db
